body {
  background: url("../images/The Anthropomorphic Cabinet.jpg") top / cover no-repeat fixed;
  color: white;
  margin: 0px;
  /* font: 100% verdana, sans-serif; */
}

figure {
  border: 5px double #62433f;
  background-color: #98644e;
  padding: 5px;
  display: table;
}

footer {
  background-color: #62433f;
  padding: 10px;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
}

header {
  /* background-color: #98644e; */
  color: white;
  /* padding: 10px; */
  margin: 0px;
  position: fixed;
  top: 0px;
  width: 100%;
}

h1 {
  font-family: 'Adelle W01 Bold', 'Arvo', Constantia, 'Lucida Bright';
}

.navbar-nav a{
  color:white;
}

.navbar-nav li > a:hover {
  background-color: transparent;
  color: white;
  border: 2px solid white;
  border-radius: 15px;
}

section {
  margin-top: 120px;
}

.banner {
  width: 20%;
  height: 10%
}

.quote {
  width: 35%;
}

.center-in-container {
  margin: auto;
}

.showcase img {
  width: 100%
}

.table-hover>tbody>tr:hover {
  color: black;
}

caption {
  color: white;
  font-size: 3em;
}

.thumbnails img {
  width: 150px;
  height: 150px;
}
